/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --main-font: 'Roboto', sans-serif;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --footer-text: #ffffff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }


body {
 background-color: #ffffff;
 font-family: var(--main-font);
 font-size: 14px;
 color: var(--text-color);
}

.address {
  font-style: normal;
}
.link {
    text-decoration: none;
    display: block;
}
.list {
    list-style: none;
    padding: 0px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-bottom: 94px;
}
img {
    display: block;
}
/* Header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-address {
    
}
.header-address-list {
    display: flex;
     }

    .header-address-list-item:not(:last-child) {
        margin-right: 30px;
            }

.navigation {
    display: flex;
    align-items: center;
    
    }
.logo-link {
    margin-right: 85px;
}
.novigation-list {
    display: flex;
    }

.novigation-list-item {
    }

.novigation-list-link {
    color: var(--title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
}

.novigation-list-link.active {
    padding-bottom: 0px;
}
.novigation-list-link.active::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 28px;

}

.novigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.header.portfolio {
    border-bottom: 1px solid #ECECEC;
}
.header .container {
    align-items: center;
}
.logo-link {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
  color: var(--accent-color);
 }
 .studio-black {
     color: #000000;
 }
 
 .header-address-list-link-svg {
     align-self: center;
     width: 16px;
     height: 11px;
     margin-right: 10px;
     fill: currentColor;
 }
 .header-address-list-link .tel {
     width: 10px;
     height: 15px;
     fill: currentColor;
 }
 .header-address-list-item {
     
 }
 .header-address-list-item:hover,
 .header-address-list-item:focus {
     color: var(--accent-color);
     /* fill: var(--accent-color); */
 }

.novigation-list-item,
.novigation-list-item,
.novigation-list-item,
.header-address-list-link {
 font-weight: 500;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: var(--title-color);
 transition: color 250ms var(--timing-function);
}
.novigation-list-link:hover,
.novigation-list-link:focus {
    color: var(--accent-color);
}
.novigation-list-item .active {
    color: var(--accent-color);
}

.header-address-list-link:hover,
.header-address-list-link:focus {
    color: var(--accent-color);
    }

.header-address-list-link {
    display: flex;
font-style: normal;
    /* padding-top: 32px; */
    /* padding-bottom: 32px; */
 }
 /* Hero */
 .hero {
    margin-left: auto;
    margin-right: auto;
     text-align: center;

     background-image: linear-gradient(
      rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url("../images/hero/bg-hero.jpg");
       background-repeat: no-repeat;
     /* background-size: cover; */
     max-width: 1600px;
     background-position: 50% 50%;
     margin-bottom: 94px;
     padding-bottom: 200px;
         
 }
 .hero-title {
 margin: 0px;
 margin-bottom: 30px;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
padding-top: 200px;
color: #FFFFFF;
 }

 .btn {
   font-style: normal;
   font-weight: 700;  
   font-family: var(--main-font);
   font-size: 16px;
   line-height: 1.88;
   background-color: var(--accent-color);
   letter-spacing: 0.06em;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #FFFFFF;
   border: none;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }
 .hero-btn {
 display: inline-block;
padding-right: 32px;
padding-left: 32px;
transition: background-color 250ms var(--timing-function);
 }
 .hero-btn:hover,
 .hero-btn:focus {
     background: #188CE8;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }

 /* about-us */

.about-us {
}

.about-us .list {
    display: flex;

}
.about-us-title {
    margin-bottom: 10px;
}
.about-us-list-item-blok {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.about-us-list-item-svg {
    /* display: inline-flex; */
    width: 70px;
    height: 70px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    }
.about-us-list-item:not(:last-child){
    margin-right: 30px;
}



.title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

.about-us-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--title-color);
}

.about-us-text {
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* our-work */
.our-work {
}

.our-work-title {
    margin-bottom: 50px;
}
.our-work-list {
    display: flex;
}
.our-work-list-item {
    position: relative;
}
.our-work-list-item:not(:last-child){
    margin-right: 30px;
}

.our-work-text {
position: absolute;
width: 100%;
left: 0;
bottom: 0;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 27px;
padding-bottom: 27px;
background: rgba(47, 48, 58, 0.8);
}

/* team */

.team-list {
    display: flex;
    
}

.team-section {
    background-color: #F5F4FA;
}
.img {
    margin-bottom: 30px;
}
.team-list-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px
     rgba(0, 0, 0, 0.2), 0px 1px 1px
     rgba(0, 0, 0, 0.14), 0px 1px 3px
     rgba(0, 0, 0, 0.12);
}
.team-list-item:not(:last-child) {
    margin-right: 30px;
}

.team-title {
    padding-top: 94px;
    margin-bottom: 50px;
}

.team-title-item {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 10px;
}
.team-text {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color); 
margin-bottom: 16px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    }
.social-list-item {
    display: flex;
    }
.social-list-item-link {
    display: flex;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
    }
.social-list-item-link:hover,
.social-list-item-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}
.social-list-item:not(:last-child) {
    margin-right: 10px;
}
.social-list-item-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* regular customers */
.section-clients{
}
.clients-title {
    padding-top: 94px;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    justify-content: space-between;
    
}
.clients-list-item {
}

.clients-list-item-link {
    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients-list-item-svg {
    fill: currentColor;
}
/* .clients-list-item-svg:hover,
.clients-list-item-svg:focus {
} */
.clients-list-item-link:hover,
.clients-list-item-link:focus {
color: var(--accent-color);
border-color: var(--accent-color);
}
    


/* footer */
.footer-container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
}
.studio-white {
 color: #ffffff;
}
.footer-block-address .logo-link {
    margin-right: 0px;
    margin-bottom: 20px;
}

.footer {
    background: #2F303A;
}
.footer-block-address {
    /* display: flex; */
    margin-right: 69px;
    }

.footer-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--footer-text);
}
.footer-social-list-link {
    display: flex;
    justify-content: center;
}
.footer-social-list-link .social-list-item-link {
    background: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link .social-list-item-svg {
    fill: #FFFFFF;
}
.footer-social-list-link .social-list-item-link:hover,
.footer-social-list-link .social-list-item-link:focus {
    background-color:  var(--accent-color);
}
.social-link-item:not(:last-child) {
    margin-right: 10px;
}

.footer-address-list-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms var(--timing-function);
}
.footer-address-list-link:hover,
.footer-address-list-link:focus {
color: var(--accent-color);
}

.footer-block-join {
    margin-right: 94px;
}
.social-link-item {
}

.footer-join,
.footer-forma {
display: block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--footer-text);
margin-bottom: 20px;
}

.footer-forma-btn {
    
}
.form-email {
font-size: 16px;
color: rgba(255, 255, 255, 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    /* height: 50px; */
    width: 358px;
    margin-right: 12px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.footer-btn {
display: inline-flex;
align-items: center;
text-align: center;
padding-right: 28px;
padding-left: 29px;
}
.footer-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #FFFFFF;
}

/* portfolio */
.filter-list {
    display: flex;
    padding-top: 94px;
    margin-bottom: 50px;
    justify-content: center;
    }

  .filter-list-item {
}
.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
padding-top: 6px;
padding-right: 22px;
padding-bottom: 6px;
padding-left: 22px;
border-radius: 4px;
border: none;
color: var(--title-color);
transition: color 250ms var(--timing-function),
background-color 250ms var(--timing-function);
}
.filter-btn:hover {
color: #ffffff;
background-color: var(--accent-color);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.development-list {
    display: flex;
    flex-wrap: wrap;
}
.development-list-item {
}
.development-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.development-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
    
}
.development-list-link {
    width: 370px;
    /* border: 1px solid #EEEEEE; */
    
}
.development-list-link:hover,
.development-list-link:focus {
box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.development-list-link:hover .overlay,
.development-list-link:focus .overlay {
    transform: translateY(-100%);
}

.development-list-img-block {
    position: relative;
    overflow: hidden;
/* margin-bottom: 20px; */
}
.development-list-img {
}
.project {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
margin-bottom: 4px;
margin-left: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-left: 24px;
}
.project-block {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-top: 20px;
}
.overlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms var(--timing-function);
}


.description-text {
display: flex;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
padding-left: 24px;
padding-right: 24px;
align-items: center;
}
/* Модальное окно */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.modal-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    /* height: 580px; */
    border-radius: 4px;
    padding: 40px;
    background-color: #FFFFFF;

}
.modal-form-input-wrapper {
    position: relative;
    margin-bottom: 28px;
}
.modal-form-title {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 30px;
}
.modal-form-input {
    height: 40px;
    padding-left: 42px;
}
.modal-form-input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}
.modal-form-message {
    height: 120px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-bottom: 20px;
    resize: none;
}
.modal-form-input,
.modal-form-message {
    /* display: block; */
    width: 100%;
    line-height: 1.14;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
}
.modal-form-message:focus::placeholder {
    color: var(--accent-color);
}
.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown) {
    outline: none;
    border-color: var(--accent-color);
}
.modal-form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms var(--timing-function);
}
.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    transform: translate(-26px, -38px);
    color: var(--accent-color);
    }
.modal-form-input:focus ~ .modal-form-input-svg{
    fill: var(--accent-color);
}
    .modarn-form-policy-link {
        text-decoration-line: underline;
    }
    .modal-form-option-span {
        line-height: 1.71;
    }
    .madal-form-option-label {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .modarn-form-policy-link {
        color: var(--accent-color);
    }
    .modal-form-checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
         padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .modal-form-custom-checkbox {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        border: 2px solid var(--title-color);
        border-radius: 2px;
    }
    
    .modal-form-custom-checkbox-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 15px;
    }
    .modal-form-checkbox:checked + .modal-form-custom-checkbox {
        background-color: var(--accent-color);
        border: none;
    }
     .madal-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 55px;
        padding-left: 56px;
        transition: background-color 250ms var(--timing-function);

    }

    .madal-btn:hover,
    .madal-btn:focus {
        background-color: #188CE8;
    }
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .madal-close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: color 250ms var(--timing-function);
    }
    .madal-close-btn:hover,
    .madal-close-btn:focus {
        color: var(--accent-color);
    }
    .madal-close-btn-svg {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: currentColor;
    }
